<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="styles/style.css")
        title About Me
    body
        #container
            .my_photo_etc
                img(src="assets/img/smoke.jpg", alt="")
                input.light_mode(type="checkbox")
                input.dark_mode(type="checkbox")
            .about_me

                h1 Привет, Меня зовут Максим
                p Мне 24&nbsp;года, родился и&nbsp;вырос в&nbsp;Архангельске.
                p Успел пожить в&nbsp;Питере, раньше работал в&nbsp;РЖД помощником машиниста тепловоза.
                p Умею управлять ЧМЭ3, ТЭ10, но сейчас не об этом.
                p 
                    figure.icon-ok Знаю английский, ответы на вопросы ищу обычно в английском сегменте, понимаю на слух
                p   
                    figure.icon-ok Знаю украинский
                p 
                    figure.icon-ok Раньше верстал только на флексах, теперь понял, что на гридах удобнее.
                p
                    figure.icon-cancel Сделал список фильмов без использования массива, не времени объяснять
                

            .fav_movies
                .movie_caption
                    p.movies_cap Просто ссылки некрасиво, поэтому вот
                    i.movies_cap Ссылки перепутались и могут вести куда-то не туда
                .movies_content
                    .grid_movie_1
                        .filler
                            a(href="https://ru.wikipedia.org/wiki/%D0%9A%D0%BD%D0%B8%D0%B3%D0%B0_%D0%98%D0%BB%D0%B0%D1%8F" target="_blank") Пойти на Вики
                            a(href="https://www.youtube.com/watch?v=zSMHmtaoXtI" target="_blank")  Посмотреть трейлер
                    .grid_movie_2
                        .filler
                            a(href="https://ru.wikipedia.org/wiki/%D0%A0%D0%B0%D1%81%D1%81%D0%B2%D0%B5%D1%82_%D0%BC%D0%B5%D1%80%D1%82%D0%B2%D0%B5%D1%86%D0%BE%D0%B2_(%D1%84%D0%B8%D0%BB%D1%8C%D0%BC,_2004)" target="_blank") Пойти на Вики
                            a(href="https://www.youtube.com/watch?v=dQw4w9WgXcQ?autoplay=1" target="_blank")  Посмотреть трейлер
                    .grid_movie_3
                        .filler
                            a(href="https://ru.wikipedia.org/wiki/%D0%9A%D0%BB%D0%B0%D1%83%D1%81%D1%82%D1%80%D0%BE%D1%84%D0%BE%D0%B1%D1%8B" target="_blank") Пойти на Вики
                            a(href="https://www.youtube.com/watch?v=6dSKUoV0SNI&ab" target="_blank")  Посмотреть трейлер
                    .grid_movie_4
                        .filler
                            a(href="https://ru.wikipedia.org/wiki/%D0%AD%D0%BA%D0%B7%D0%B0%D0%BC%D0%B5%D0%BD_(%D1%84%D0%B8%D0%BB%D1%8C%D0%BC,_2009)" target="_blank") Пойти на Вики
                            a(href="https://www.youtube.com/watch?v=hbivC9ztGOE" target="_blank")  Посмотреть трейлер
                    .grid_movie_5
                        .filler
                            a(href="https://ru.wikipedia.org/wiki/%D0%9D%D0%B8%D0%BA%D1%82%D0%BE_%D0%BD%D0%B5_%D1%83%D0%B7%D0%BD%D0%B0%D0%B5%D1%82" target="_blank") Пойти на Вики
                            a(href="https://www.youtube.com/watch?v=o8COIEaleR8&ab" target="_blank")  Посмотреть трейлер
                    .grid_movie_6
                        .filler
                            a(href="https://ru.wikipedia.org/wiki/%D0%9E%D0%BB%D0%B4%D0%B1%D0%BE%D0%B9_(%D1%84%D0%B8%D0%BB%D1%8C%D0%BC,_2003)" target="_blank") Пойти на Вики
                            a(href="https://www.youtube.com/watch?v=2HkjrJ6IK5E&ab" target="_blank")  Посмотреть трейлер
                    .grid_movie_7
                        .filler
                            a(href="https://ru.wikipedia.org/wiki/%D0%A7%D1%91%D1%80%D0%BD%D0%BE%D0%B5_%D0%B7%D0%B5%D1%80%D0%BA%D0%B0%D0%BB%D0%BE_(%D1%82%D0%B5%D0%BB%D0%B5%D1%81%D0%B5%D1%80%D0%B8%D0%B0%D0%BB)" target="_blank") Пойти на Вики
                            a(href="https://www.youtube.com/watch?v=nSDviEdvw4U&ab&ab" target="_blank")  Посмотреть трейлер
                .music_caption   
                    p Музычка         
                .music_content
                    .grid_music1
                        .filler_music
                            a(href="https://www.youtube.com/watch?v=3bMNWKUT8rg&list=PLF5ECA018C5AD97AD" target="_blank") Слушать на YT
                    .grid_music2
                        .filler_music
                            a(href="https://www.youtube.com/watch?v=vb23zdVpW3E" target="_blank") Слушать на YT
                    .grid_music3
                        .filler_music
                            a(href="https://www.youtube.com/watch?v=ihJtmeSPFo0&list=OLAK5uy_kA6Z52InThI9Q2MGEE_zjw4mIVMRYfCuU&index=1" target="_blank") Слушать на YT
                    .grid_music4
                        .filler_music
                            a(href="https://www.youtube.com/watch?v=0qF4DFiy_Jw&list=OLAK5uy_mLGLWgYAfRxdt0bNFon2LyPPAdBtcd7bI" target="_blank") Слушать на YT
                    .grid_music5
                        .filler_music
                            a(href="https://www.youtube.com/watch?v=pylIGzVZBFs&list=PLsJgCoj6Q1pK_4BpA5aeyhgBT9vW2mdVO&index=1" target="_blank") Слушать на YT
